body{
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: 0.875rem;
    background-color: var(--BG-Color);
    display: grid;
    min-height: 100vh;
    place-content: center;
    margin: 1rem;
}

article{
    background-color: var(--Btn-Text);
}

.product {
    border-radius: .5rem ;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
}
.product-img{
    width: 125%;
}
img{
    height: 100%;
    width: 100%;
}

.product-content{
    background-color: var(--Btn-Text);
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.category{
    color: var(--Grey-Label);
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-size: 10px;
}

.product-title{
    font-size: 2.5em;
    font-family: var(--ff-accent);
}
.product-description{
    color: var(--Grey-Label);
    width: 75%;
}
.price-content{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.price{
    font-family: var(--ff-accent);
    color: var(--Btn-Green);
    font-size: 1.7rem;
}

.og-price {
   color: var(--Grey-Label);
   text-decoration: line-through;
   font-size: .9rem;
}
.attribution{
    text-align: center;
}


@media(min-width:475px){
}

@media(min-width:640px){
 
}

@media(min-width:768px){
    .product{
        flex-direction: row;
    }
    .product-title{
        font-size: 2rem;
    }
}

@media(min-width:1024px){
    .product-title{
        font-size: 2.5rem;
    }
    .btn:is(:hover, :focus){
        background-color: var(--Btn-Green-Hover);
      } 
}

@media(min-width:1280px){
}

@media(min-width:1536px){
} 
